In [79]:
import pandas as pd

In [80]:
s=['a','b','c']

In [81]:
d=[1,2,3]

In [82]:
f=pd.Series(index=s,data=d)

In [83]:
f

a    1
b    2
c    3
dtype: int64

# f=pd.Series(index=s,data=d)

In [84]:
f[0]

1

In [85]:
f[:2]

a    1
b    2
dtype: int64

# 对Series 进行索引，可以：
# s[m]   第m个元素

In [86]:
o=[False,True,True]

In [87]:
f[o]

b    2
c    3
dtype: int64

In [88]:
f.loc('b')

ValueError: No axis named b for object type <class 'pandas.core.series.Series'>

In [89]:
f.loc['b']

2

In [90]:
f.iloc[1]

2

# loc后面跟索引
# iloc会面跟行或列的值

In [91]:
s1=f.copy()

In [92]:
s1

a    1
b    2
c    3
dtype: int64

In [93]:
s1['a']=100

In [94]:
s1

a    100
b      2
c      3
dtype: int64

# 展示一下replace的用法：
#

In [95]:
s1.replace(to_replace=100,value=123)

a    123
b      2
c      3
dtype: int64

In [96]:
s1

a    100
b      2
c      3
dtype: int64

In [97]:
s1.replace(to_replace=100,value=123,inplace=True)

In [98]:
s1

a    123
b      2
c      3
dtype: int64

# 在应用了inplace=True后，s1就真正被改变了

# 当然索引也可以更改

In [99]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [100]:
s1.index=['a','f','k']

In [101]:
s1.index

Index(['a', 'f', 'k'], dtype='object')

In [102]:
s1

a    123
f      2
k      3
dtype: int64

# 上面的更改索引是更改了所有的索引
# 也可以只更改某一个：

In [103]:
s1.rename(index={'a':'A'},inplace=True)

In [104]:
s1

A    123
f      2
k      3
dtype: int64

# 下面想增加一列

In [105]:
data1=[45,76]

In [106]:
ss=['l','h']

In [107]:
s2=pd.Series(data=data1,index=ss)

In [108]:
s2

l    45
h    76
dtype: int64

# 上面重新构建了一个Series类型

In [109]:
s1.append(s2)

A    123
f      2
k      3
l     45
h     76
dtype: int64

# 方法一：
# s1.append(s2)   将两个Series直接拼接到一起了

# 方法二

In [110]:
s2['b']=1000

In [111]:
s2

l      45
h      76
b    1000
dtype: int64

# s2['b']=1000   直接指定索引，然后复制

# ----------------------------------------------------------------------------------

In [112]:
s1

A    123
f      2
k      3
dtype: int64

In [113]:
s2

l      45
h      76
b    1000
dtype: int64

In [114]:
s1.append(s2,ignore_index=False)

A     123
f       2
k       3
l      45
h      76
b    1000
dtype: int64

In [115]:
s1.append(s2,ignore_index=True)

0     123
1       2
2       3
3      45
4      76
5    1000
dtype: int64

# ignore_index=False    默认使用原来的索引
# ignore_index=True      使用新索引

# ----------------------------------------------------------------------------

# 下面是删除操作

In [116]:
s1

A    123
f      2
k      3
dtype: int64

In [117]:
del s1['A']

In [118]:
s1

f    2
k    3
dtype: int64

# 删除一行：

# del s1['A']    这样就进行了删除某一行的操作

In [119]:
s3=s1.append(s2)

In [120]:
s3

f       2
k       3
l      45
h      76
b    1000
dtype: int64

In [121]:
s3.drop(['f','k'],inplace=True)
s3

l      45
h      76
b    1000
dtype: int64

# 删除多行：
# s3.drop(['A','B'])     其中A、B是行的索引

# -----------------------------------------------------------------------------------
# 下面看DataFrame的增删改查

In [122]:
data1=[[1,2,3],[4,5,6]]

In [123]:
index1=['a','b']

In [124]:
column1=['A','B','C']

In [125]:
df=pd.DataFrame(data=data1,index=index1,columns=column1)

In [126]:
df

   A  B  C
a  1  2  3
b  4  5  6

In [127]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [128]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [129]:
df.iloc[1]

A    4
B    5
C    6
Name: b, dtype: int64

In [130]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

In [131]:
df.loc['b']

A    4
B    5
C    6
Name: b, dtype: int64

# 以上包含了dataframe的创建和查找

# ------------------------------------------------------------------------------
# 下面看看改操作

In [132]:
df.loc['a']['A']

1

In [133]:
df.loc['a']['A']=100
df

     A  B  C
a  100  2  3
b    4  5  6

# 上面修改的是值
# 定位到某个具体的元素进行修改

In [134]:
df.index=['p','q']

In [135]:
df

     A  B  C
p  100  2  3
q    4  5  6

# 上面是对索引进行修改

# 下面看增操作

In [136]:
df.loc['c']=[2,3,4]

In [137]:
df

     A  B  C
p  100  2  3
q    4  5  6
c    2  3  4

# 上面只增加一行

In [138]:
data1=[[1,1,3],[4,9,6]]
index1=['k','f']
column1=['A','B','C']
df1=pd.DataFrame(data=data1,index=index1,columns=column1)

In [139]:
df1

   A  B  C
k  1  1  3
f  4  9  6

In [140]:
df3=pd.concat([df,df1])
df3

     A  B  C
p  100  2  3
q    4  5  6
c    2  3  4
k    1  1  3
f    4  9  6

In [141]:
df4=pd.concat([df,df1],axis=1)
df4

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

       A    B    C    A    B    C
c    2.0  3.0  4.0  NaN  NaN  NaN
f    NaN  NaN  NaN  4.0  9.0  6.0
k    NaN  NaN  NaN  1.0  1.0  3.0
p  100.0  2.0  3.0  NaN  NaN  NaN
q    4.0  5.0  6.0  NaN  NaN  NaN

# 增加多行
# df4=pd.concat([df,df1],axis=0)
# ----------------------------------------------------------------------------------
# 下面就看增加一列

In [142]:
df1

   A  B  C
k  1  1  3
f  4  9  6

In [143]:
df1['zahng']=[1,2]

In [144]:
df1

   A  B  C  zahng
k  1  1  3      1
f  4  9  6      2

# 这样就增加了一列

# 首先构造一个dataframe

In [145]:
df4=pd.DataFrame([[4,5],[6,7]],index=['k','f'],columns=['H','O'])
df4

   H  O
k  4  5
f  6  7

In [146]:
df5=pd.concat([df1,df4],axis=1)
df5

   A  B  C  zahng  H  O
k  1  1  3      1  4  5
f  4  9  6      2  6  7

# df5=pd.concat([df1,df4],axis=1)
# 以上就是增操作

In [147]:
df5.drop(['f'],axis=0,inplace=True)
df5

   A  B  C  zahng  H  O
k  1  1  3      1  4  5

# 上面是按照行进行删除
# 下面是按照列进行删除

In [148]:
del df5['B']
df5

   A  C  zahng  H  O
k  1  3      1  4  5

# 上面是删除一行，也可以删除多行

In [150]:
df5.drop(['A','H'],axis=1,inplace=True)

In [151]:
df5

   C  zahng  O
k  3      1  5

# ---------------------------------------------------------------------------------