In [1]:
import pandas as pd

In [2]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [7]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [10]:
drinks['beer_servings'] = drinks.beer_servings.astype(float)

In [11]:
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [12]:
drinks.beer_servings.mean()

106.16062176165804

In [13]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [17]:
drinks[drinks.continent=='Africa'].beer_servings.mean()

61.471698113207545

In [18]:
drinks.groupby('continent').beer_servings.max()

continent
Africa           376.0
Asia             247.0
Europe           361.0
North America    285.0
Oceania          306.0
South America    333.0
Name: beer_servings, dtype: float64

In [19]:
drinks.groupby('continent').beer_servings.min()

continent
Africa            0.0
Asia              0.0
Europe            0.0
North America     1.0
Oceania           0.0
South America    93.0
Name: beer_servings, dtype: float64

In [21]:
drinks.groupby('continent').beer_servings.agg(['count','mean','max','min'])

               count        mean    max   min
continent
Africa            53   61.471698  376.0   0.0
Asia              44   37.045455  247.0   0.0
Europe            45  193.777778  361.0   0.0
North America     23  145.434783  285.0   1.0
Oceania           16   89.687500  306.0   0.0
South America     12  175.083333  333.0  93.0

In [22]:
drinks.groupby('continent').agg(['count','mean','max','min'])

              beer_servings                          spirit_servings  \
                      count        mean    max   min           count
continent
Africa                   53   61.471698  376.0   0.0              53
Asia                     44   37.045455  247.0   0.0              44
Europe                   45  193.777778  361.0   0.0              45
North America            23  145.434783  285.0   1.0              23
Oceania                  16   89.687500  306.0   0.0              16
South America            12  175.083333  333.0  93.0              12

                                   wine_servings                       \
                     mean  max min         count        mean  max min
continent
Africa          16.339623  152   0            53   16.264151  233   0
Asia            60.840909  326   0            44    9.068182  123   0
Europe         132.555556  373   0            45  142.222222  370   0
North America  165.739130  438  68            23   24.521739  100   1
Oceania         58.437500  254   0            16   35.625000  212   0
South America  114.750000  302  25            12   62.416667  221   1

              total_litres_of_pure_alcohol
                                     count      mean   max  min
continent
Africa                                  53  3.007547   9.1  0.0
Asia                                    44  2.170455  11.5  0.0
Europe                                  45  8.617778  14.4  0.0
North America                           23  5.995652  11.9  2.2
Oceania                                 16  3.381250  10.4  0.0
South America                           12  6.308333   8.3  3.8